{% extends 'base.html' %}

{% block home %}

<ul>
    {% for object in all_objects %}

        <li>
            <a href="/Titles/{{ object.id }}/">{{ object.title }}</a> - <a href="/Articles/{{ object.id }}/">{{ object.content }}</a>
        </li>

    {% endfor %}
</ul>
<a href="/Articles/create/"><button>create topic</button></a>
<br />
<a href="/accounts/login/"><button>login</button></a>
<br />
<a href="/accounts/logout/"><button>logout</button></a>
<br />
<a href="/accounts/register/"><button>sign up</button></a>

{% endblock home %}